.custom-alert {
    width: 300px;
}


.confirm-message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;
}

.confirm-button {
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.btn-no {
    background-color:#ff3b30;
    color: white;
    min-width: 95px;
}

.btn-yes {
    background-color: #342f89;;
    color: white;
    margin-right: 25px;
    min-width: 95px;
}

.center {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  
/* The sensor-modal (background) */
.sensor-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 50;
  }
  
  /* sensor-modal Content */
  .sensor-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .display-block{
    display: block;
  }

  .display-none{
    display: none;
  }