<div id="modal-1" class="">
    <div>
        <!-- <a href="#close" title="Close" class="closeDialog">
            <img src="assets/images/icon-close.svg">
        </a> -->
        <div class="modalHeading">
            <h2>Temperature Group</h2>
            <p>Group ID: 23456 • Machine: Stainless Steel Coating Pan </p>
        </div>

        <div class="modal-graph-section">
            <h2>Performance</h2>
            <img src="assets/images/sensor-graph.jpg" class="img-responsive">
        </div>
        
        <div class="tab-row-sections">
            <section>
                <h2>Sensors</h2>
            </section>

            <div class="col-lg-12 pd-0">

                <div class="col-md-4 col-sm-12 pd-l-0">
                    <div class="tab-sensor-card">
                        <section>
                            <img src="assets/images/sensor-machine/Mark-7-Chute-2.jpg">
                            <aside>
                                <h3>Sensor ID: 23456</h3>
                                <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                <p class="temp-stats">Temperature</p>
                            </aside>
                        </section>
                        <div class="d-flex d-flex-temp-stats">
                            <div>
                                <h3>95˚C</h3>
                                <p>Live Value</p>
                            </div>
                            <div>
                                <h3>91.2˚C</h3>
                                <p>Day Min</p>
                            </div>
                            <div>
                                <h3>99.2˚C</h3>
                                <p>Day Max</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 pd-l-0">
                    <div class="tab-sensor-card">
                        <section>
                            <img src="assets/images/sensor-machine/Mark-7-Chute.jpg">
                            <aside>
                                <h3>Sensor ID: 23456</h3>
                                <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                <p class="temp-stats">Temperature</p>
                            </aside>
                        </section>
                        <div class="d-flex d-flex-temp-stats">
                            <div>
                                <h3>95˚C</h3>
                                <p>Live Value</p>
                            </div>
                            <div>
                                <h3>91.2˚C</h3>
                                <p>Day Min</p>
                            </div>
                            <div>
                                <h3>99.2˚C</h3>
                                <p>Day Max</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 pd-0">
                    <div class="tab-sensor-card">
                        <section>
                            <img src="assets/images/sensor-machine/Mark-7-Chute-3.jpg">
                            <aside>
                                <h3>Sensor ID: 23456</h3>
                                <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                <p class="temp-stats temp-alert--blink">
                                    Temperature
                                    <span class="tooltip-top" data-tooltip="Critical!"><img src="assets/images/alert-blink-icon.png"></span>
                                </p>
                            </aside>
                        </section>
                        <div class="d-flex d-flex-temp-stats">
                            <div>
                                <h3>95˚C</h3>
                                <p>Live Value</p>
                            </div>
                            <div>
                                <h3>91.2˚C</h3>
                                <p>Day Min</p>
                            </div>
                            <div>
                                <h3>99.2˚C</h3>
                                <p>Day Max</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="tab-row-sections">

            <div class="col-lg-12 pd-0">

                <div class="col-md-4 col-sm-12 pd-l-0">
                    <div class="tab-sensor-card">
                        <section>
                            <img src="assets/images/sensor-machine/Mark-7-Chute-2.jpg">
                            <aside>
                                <h3>Sensor ID: 23456</h3>
                                <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                <p class="temp-stats">Temperature</p>
                            </aside>
                        </section>
                        <div class="d-flex d-flex-temp-stats">
                            <div>
                                <h3>95˚C</h3>
                                <p>Live Value</p>
                            </div>
                            <div>
                                <h3>91.2˚C</h3>
                                <p>Day Min</p>
                            </div>
                            <div>
                                <h3>99.2˚C</h3>
                                <p>Day Max</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 pd-l-0">
                    <div class="tab-sensor-card">
                        <section>
                            <img src="assets/images/sensor-machine/Mark-7-Chute-3.jpg">
                            <aside>
                                <h3>Sensor ID: 23456</h3>
                                <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                <p class="temp-stats">Temperature</p>
                            </aside>
                        </section>
                        <div class="d-flex d-flex-temp-stats">
                            <div>
                                <h3>95˚C</h3>
                                <p>Live Value</p>
                            </div>
                            <div>
                                <h3>91.2˚C</h3>
                                <p>Day Min</p>
                            </div>
                            <div>
                                <h3>99.2˚C</h3>
                                <p>Day Max</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>