.chart-area {
    width: 85px;
    height: 40px;
}

.main-alarm{
    width: 100%; 
    overflow: hidden;
}

.alarm-left{
    width: 150px; 
    float: left;
}

.alarm-right{
    margin-left: 100px;
    float: right;
    margin-top: 10px;
}

