<div class="table-main" *ngIf="groupTableModel">
    <div class="tab-row-sections" *ngFor="let item of groupTableModel.Items; let i = index">
        <section>
            <h2>{{item.MachineName}} ({{item.SensorGroupResponses.length}})</h2>
        </section>

        <div class="col-lg-12 pd-0">

            <div class="col-md-3 col-sm-12 pd-l-0" *ngFor="let groupSensor of item.SensorGroupResponses; let i = index">
                <div class="tab-sensor-group-card">
                    <section>
                        <h3>Group ID: {{groupSensor.MachineGroupId}}</h3>
                        <h4>{{groupSensor.GroupName}}</h4>
                        <p>{{groupSensor.TotalMachineGroupSensors}} sensors • </p>
                    </section>
                    <div class="view-sensor-link cp" (click)="openSensorGroupForm(groupSensor)">
                        <p><a  >View Sensors</a></p>
                    </div>
                </div>
            </div>



        </div>
    </div>



</div>
