
                <div class="tab-row-sections">
                    <section>
                        <h2>Vibratory Furnace Charger (3)</h2>
                    </section>

                    <div class="col-lg-12 pd-0">

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Stainless Steel Coating Pan</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Tropicool Sump Machine</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Cylinder Head Temperature</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-row-sections">
                    <section>
                        <h2>Vibratory Furnace Charger (3)</h2>
                    </section>

                    <div class="col-lg-12 pd-0">

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Stainless Steel Coating Pan</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Tropicool Sump Machine</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Cylinder Head Temperature</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Mark 7 Chute Tri Chromatic Color Sorter</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-row-sections">
                    <section>
                        <h2>Vibratory Furnace Charger (1)</h2>
                    </section>

                    <div class="col-lg-12 pd-0">

                        <div class="col-md-3 col-sm-12 pd-l-0">
                            <div class="tab-sensor-group-card">
                                <section>
                                    <h3>Group ID: 23456</h3>
                                    <h4>Stainless Steel Coating Pan</h4>
                                    <p>12 sensors • 2 Groups</p>
                                </section>
                                <div class="view-sensor-link">
                                    <p><a href="#">View Sensors</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>