<div class="box-rounded">

    <div class="header-container">
        <div class="col-md-6 col-sm-12 pd-l-0">
            <h1>Sensors</h1>
        </div>
        <div class="col-md-6 col-sm-12 pd-r-0">
            <div class="header-buttons">
                <a class="btn-light-inverse">Add Gateway</a>
                <a class="btn-light-inverse">Add Sensor</a>
            </div>
        </div>
    </div>

    <div class="sub-header-tabs-container">
        <h2>Opened Alarms</h2>
        <ul class="tab-days">
            <li>
                <a>Active</a>
            </li>
        </ul>
    </div>

    <div class="headingGridFilter">
        <div class="col-md-4 pd-l-0">
            <div class="fourBoxColumn">
                <h2>02</h2>
                <p>Critical Alarms</p>
            </div>
        </div>
        <div class="col-md-4 pd-l-0">
            <div class="fourBoxColumn yellowBox">
                <h2>33</h2>
                <p>Warnings Breached</p>
            </div>
        </div>
        <div class="col-md-4 pd-0">
            <div class="fourBoxColumn greenBox">
                <h2>03</h2>
                <p>In Progress</p>
            </div>
        </div>
    </div>

    <!-- Sensor and Machine table -->
    <app-sensor-alarm-table></app-sensor-alarm-table>
    <!-- Sensor and Machine table end -->

</div>