<div class="panel panel-visible panel-custom-table">
    <div class="panel-body pn" style="min-height: 500px;">
        
        <div class="table-responsive table-height">
            <div class="form-group">
                <input type="text" class="search-input" placeholder="Search Here" [(ngModel)]="term" (keyup)="filter()">
            </div>
            <table class="table" >
                <thead>
                    <tr>
                        <th>Sensor and Assets</th>
                        <th>Time Elapsed</th>
                        <th>Sensor Type</th>
                        <th>Live Value</th>
                        <th>Day Min</th>
                        <th>Day Max</th>
                        <th>STATUS</th>
                        <th class="gridActionBtnTH">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cp" *ngFor="let alarm of alarmModel | paginate: {itemsPerPage: 5, currentPage: p, totalItems: totalCount}" (click)="sensorDetail(alarm)">
                        <td>
                            <div class="sensor-pic">
                                <img src="assets/images/sensor-machine/mark-7.jpg">
                            </div>
                            <div class="sensor-table-data">
                                <span>Sensor ID: {{alarm.SensorId}}</span>
                                <span class="sensor-detail"> {{alarm.SensorName}}</span>
                                <span>{{alarm.MachineName}}</span>
                            </div>
                        </td>
                        <td>{{alarm.TimeElapsed}}</td>
                        <td>{{alarm.SensorTypeName}}</td>
                        <td> {{alarm.LiveValue}}˚C</td>
                        <td>{{alarm.DayMin}}˚C</td>
                        <td>{{alarm.DayMax}}˚C</td>
                        <td>
                            <span
                                [class]="alarm.SensorStatusName === sensorStatusEnum.critical? 'btn-critical-grid' : alarm.SensorStatusName === sensorStatusEnum.warning? 'btn-warning-grid' : 'btn-inprogress-grid'">{{alarm.SensorStatusName}}</span>
                        </td>
                        <td class="gridActionBtn">
                            <div class="btn-group">
                                <span class="dropdown-toggle " data-toggle="dropdown" aria-expanded="false">
                                    <img src="assets/images/icon-dots.png">
                                </span>

                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" class="table-pagination"
            screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"
                      previousLabel="Previous"
                      nextLabel="Next"
                      directionLinks="true"></pagination-controls>


        </div>
<button id="refreshbtn" class="display-none" (click)="refreshTable()">Refresh</button>

    </div>
</div>
