<div class="col-lg-12 pd-0 box-container" *ngIf="totalMachineSensor">

    <div class="col-md-4 col-sm-12 pd-l-0">
        <div class="white-box-three">
            <h2> {{totalMachineSensor.TotalMachines}}</h2>
            <p>Total Assets</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 pd-l-0">
        <div class="white-box-three white-total-sensor">
            <h2>{{totalMachineSensor.TotalSensors}}</h2>
            <p>Total Sensors</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 pd-0">
        <div class="white-box-three white-sensor-group">
            <h2>{{totalMachineSensor.TotalSensorGroups}}</h2>
            <p>Sensor Groups</p>
        </div>
    </div>

</div>