<div id="main">
    <aside id="sidebar_left" class="nano nano-light affix has-scrollbar">

        <div class="menu btn11" data-menu="11">
            <div class="icon-left"></div>
            <div class="icon-right"></div>
        </div>

        <!-- -------------- Sidebar Left Wrapper  -------------- -->
        <div class="sidebar-left-content nano-content" tabindex="0" style="margin-right: -7px;">
            <a class="navbar-logo-text" href="#">
                <img src="assets/images/Logo.svg">
            </a>

            <!-- -------------- Sidebar Menu  -------------- -->
            <ul class="nav sidebar-menu">

                <!-- <li class="sidebar-label pt30">Menu</li> -->

                <li class="machine-icon" routerLinkActive="active">
                    <a [routerLink]="['/', 'app','machine']">
                        <span class="sidebar-title"  >Machine</span>
                    </a>
                </li>

                <li class="sensor-icon" routerLinkActive="active">
                    <a class="accordion-toggle" [routerLink]="['/', 'app','sensor']">
                        <span class="sidebar-title">Sensors</span>
                    </a>
                </li>


                <li class="user-icon">
                    <a class="accordion-toggle" href="#">
                        <span class="sidebar-title">Users</span>
                    </a>
                </li>
                <li class="reports-icon">
                    <a class="accordion-toggle" href="#">
                        <span class="sidebar-title">Reports</span>
                    </a>
                </li>
                <li class="settings-icon">
                    <a class="accordion-toggle" href="#">
                        <span class="sidebar-title">Settings</span>
                    </a>
                </li>
            </ul>
            <!-- -------------- /Sidebar Menu  -------------- -->
        </div>
        <!-- -------------- /Sidebar Left Wrapper  -------------- -->
        <div class="nano-pane" style="display: block;">
            <div class="nano-slider" style="height: 41px; transform: translate(0px, 0px);"></div>
        </div>
    </aside>

    
    <!-- BODY -->
    <section id="content_wrapper">
        <!-- -------------- Column Center -------------- -->
        <section id="content" class="table-layout animated fadeIn">
    
            <div class="chute chute-center">
    
                <div class="time-notification-section box-rounded">
                    <div class="row row-box-rounded">
                        <div class="col-md-6 col-sm-12 pd-l-0">
                            <span class="day-status"> {{welcomeStatus}}, Riley</span>
                            <span class="time-status">
                                <span class="time-move"> {{time}}</span> 
                                <span>, {{date}}</span>
                            </span>
                        </div>
                        <div class="col-md-6 col-sm-12 pd-r-0">
                            <ul class="nav-notification">
    
                                <li>
                                    <a  class="notify-icon">
                                        <span class="active">&nbsp;</span>
                                        <img src="assets/images/icon-notification.svg" alt="">
                                    </a>
                                </li>
    
                                <li>
                                    <a class="filter-by-btn">
                                        <img src="assets/images/user-avatar.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
    
               
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
            </div>
        </section>
    
    </section>

</div>