/* You can add global styles to this file, and also import other style files */

.table-main {
    max-height: 580px;
    display: block;
    overflow-y: auto;
}

text.highcharts-credits {
    display: none;
}

.display-block{
    display: block;
  }

  .display-none{
    display: none;
  }

  .ngx-pagination .current {
    border-radius: 50% !important;
    min-width: 27px !important;
    background: #3241D3 !important;
}

.ov{
    overflow: visible;
}
@media (max-width: 1385px) {
    .alarm-left {
        width: 135px !important;
    }
}