/* You can add global styles to this file, and also import other style files */

.table-main {
    max-height: 580px;
    display: block;
    overflow-y: auto;
}

text.highcharts-credits {
    display: none;
}





@media (max-width: 1385px) {
    .alarm-left {
        width: 100px !important;
    }
}